{% extends 'base.html' %}
{% block title %}список задач{% endblock %}
{% block content %}
    <div class="row">
        <h1><a href="{% url tasks_index %}">Проекты</a> →
            <a href="{% url tasks_project_detail milestone.project.id %}">{{ milestone.project.name }}</a> →
            {{ milestone.name }}</h1>
    </div>
    <hr/>
    <h2>Задачи</h2>
    <div class="row">
        <ul>
            {% for task in tasks %}
                <li>
                    <h3><a href="{% url tasks_task_detail  task.id %}">{{ task.name }}</a> <span class="status {{ task.status}}">{{ task.status_label }}</span></h3>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}